/** Styles for the theme: Base-Dark */
.TcHmi_Controls_Beckhoff_TcHmiRadioButton {
    --radio-state-icon-color: #2775be;
    --tchmi-background: #2a3845;
    --tchmi-color: white;
    color: var(--tchmi-color);
}

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiRadioButton-template {
    background-color: var(--tchmi-background);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

/* class TcHmi_Controls_Beckhoff_TcHmiRadioButton-active will be set/unset in the control */
.TcHmi_Controls_Beckhoff_TcHmiRadioButton.TcHmi_Controls_Beckhoff_TcHmiRadioButton-active
    .TcHmi_Controls_Beckhoff_TcHmiRadioButton-template {
    background: radial-gradient(
        circle closest-side at center,
        #ffffff 0,
        #ffffff 45%,
        var(--radio-state-icon-color) calc(45% + 1px),
        var(--radio-state-icon-color) 100%
    );
}
